body {
    /* width: 95%; */
    /* margin: auto; */
    margin-top: 180px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#homeDiv{
    margin-top: 200px;
}

#darkModeToogle {
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
    border-radius: 20px;
    background-color: #0069FF;
    color: white;
    border: 5px solid #0069FF;
}
.dark{
    background-color: rgb(37, 37, 37);
    color: #e6e6e6;
}

#collection {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);                                   /* Make changes here */
    gap: 20px;
    text-align: center
}

#collection>div {
    display: block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;                             /* Make changes here */
} 

.perCardDiv {
    border-radius: 5px;
    transition: transform .5s;
}

.perCardDiv:hover {
    border-radius: 5px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.02)
}

.perCardDiv>img {
    border-radius: 5px;
}

.perCardDiv > h3{
    width: 220px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#superdeals{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);                                         /* Make changes here */
    gap: 20px;
    text-align: center
}

#superdeals >div {
    display: block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


#recommended{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);                                         /* Make changes here */
    gap: 20px;
    text-align: center
}

#recommended > div{
    display: block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.rating_card{
    display: block;
    background-color: green;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.orderButton{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.orderButton>button{
    border: 3px solid #000000;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: transform .5s;

}

.orderButton>button:hover{
    background-color: transparent;
    border: 3px solid #000000;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(0.8)
}

.priceDiv{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* sidenavbar */
*{
    font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
}

#navbar-2{
    margin-bottom: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: wheat;
    top: 165px;
    overflow: hidden;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 60px;
    width: 100%;
    /* border: 1px solid black; */
}
#navbar-2>div{
    /* border: 1px solid red; */
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
}
#navbar-2 div a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-bottom: 3px;
}
#navbar-2 div div{
    border: none;
    padding-top: 40px;
    padding-left: 20px;
    border-radius: 10px;
    padding-right: 100px;
    padding-bottom: 40px;
    background-color: #0069ff;
    font-size: 16px;
    color: white;
    background-color:white ;
    font-size: 19px;
    color: black;
    font-weight: bold;
}

.a:hover{
    border-bottom: 5.5px solid #0069ff ;
}



