body {
    /* width: 95%; */
    margin-top: 180px;
    /* margin: auto; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#collection {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);                                   /* Make changes here */
    gap: 20px;
    text-align: center
}

#collection>div {
    display: block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;                             /* Make changes here */
} 

.perCardDiv {
    border-radius: 5px;
    transition: transform .5s;
}

.perCardDiv:hover {
    border-radius: 5px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.02)
}

.perCardDiv>img {
    border-radius: 5px;
}

.perCardDiv > h3{
    width: 220px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#superdeals{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);                                         /* Make changes here */
    gap: 20px;
    text-align: center
}

#superdeals >div {
    display: block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


#recommended{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);                                         /* Make changes here */
    gap: 20px;
    text-align: center
}

#recommended > div{
    display: block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.rating_card{
    display: block;
    background-color: green;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.orderButton{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.orderButton>button{
    border: 3px solid #000000;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: transform .5s;

}

.orderButton>button:hover{
    background-color: transparent;
    border: 3px solid #000000;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(0.8)
}

.priceDiv{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}



