*{
    font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 310px;
  background-color:whitesmoke;
  position: fixed;
  height: 100%;
  overflow: auto;
  
}
/* Sidebar links */
.sidebar a {
    margin-left: 10px;
  font-size: 16px;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a:hover {
  text-decoration: underline;
  font-size: 17px;
  font-weight: bold;
}
.b{
    margin-left: 10px;
    font-size: 18px;
    padding: 16px;
}

#navbar-2{
    margin-bottom: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* background-color: blue; */
    overflow: auto;
    height: 60px;
    width: 100%;
    /* border: 1px solid black; */
}
#navbar-2 div{
    /* border: 1px solid red; */
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
#navbar-2 div a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-bottom: 3px;
}
#navbar-2 div p{
    font-size: 19px;
    color: black;
    font-weight: bold;
}

#navbar-2 div a:hover{
    border-bottom: 5.5px solid #ffda00 ;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}