body{
    background-color: whitesmoke;
    margin-top: 180px;
    box-sizing: border-box;
}
#h1{

    margin-left: 25px;
    margin-top: 80px;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-left: 20px;
    text-align: center;
}

#button{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
  }
  .btn{
    padding: 3px 15px;
    /* background-color: aqua; */
    margin: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .btn:hover{
    cursor: pointer;
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.2);
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .products{
    padding-left: 10px;
    background-color: white;
  }
  .products:hover{
    /* border: 1px solid red; */
      cursor: pointer;
      -ms-transform: scale(1.0);
      -webkit-transform: scale(1.2);
      transform: scale(1.02);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  #btnn{
    background-color: black;
    color: white;
    padding: 10px 30px;
    width: 50%;
    margin: auto;
  }

  @media screen and (max-width :900px){
    #h1{
        width: 30%;
        margin: auto;
        margin-bottom: 30PX;
    }
    #container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin-left: 20px;
    }
    #button{
      /* border: 1px solid black; */
      display: grid;
      grid-template-columns: repeat(5,1fr);
      /* grid-template-rows: repeat(3,auto); */
      justify-content: center;
      width: 30%;
      margin: auto;
      text-align: center;
      padding: 10px;
      margin-top: 30px;
    }
  }

  @media screen and (max-width :350px){
    #container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        margin-left: 20px;
    }
    #button{
      /* border: 1px solid black; */
      display: grid;
      grid-template-columns: repeat(5,1fr);
      /* grid-template-rows: repeat(3,auto); */
      justify-content: center;
      width: 30%;
      margin: auto;
      text-align: center;
      padding: 10px;
      margin-top: 30px;
    }
  }
  
/* sidenavbar */
*{
  font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
}

#navbar-2{
  margin-bottom: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: wheat;
  top: 165px;
  overflow: hidden;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 60px;
  width: 100%;
  /* border: 1px solid black; */
}
#navbar-2>div{
  /* border: 1px solid red; */
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: auto;
}
#navbar-2 div a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-bottom: 3px;
}
#navbar-2 div div{
  border: none;
  padding-top: 40px;
  padding-left: 20px;
  border-radius: 10px;
  padding-right: 100px;
  padding-bottom: 40px;
  background-color: #0069ff;
  font-size: 16px;
  color: white;
  background-color:white ;
  font-size: 19px;
  color: black;
  font-weight: bold;
}

.a:hover{
  border-bottom: 5.5px solid #0069ff ;
}

