body {
    margin: 0px;
    padding: 0px;
}

#navbar {
    width: 100%;
    border: 2px solid black;
    height: 70px;
    margin-bottom: 10px;
}

#navbar {
    width: 100%;
    border: 2px solid black;
    height: 70px;
    margin-bottom: 10px;
}
#navbar {
    width: 100%;
    border: 2px solid black;
    height: 70px;
    margin-bottom: 10px;
}
body {
    margin: 0px;
    padding: 0px;

}
#nav-left{
    margin: auto;
 }
 
 #logo{
     width: 20%;
     border-radius: 100px;
     border: 3px solid white;
 
 }
 
 #nav-right{
     display: flex;
     margin: auto;
     width: 100%;
     justify-content: space-evenly;
 }
 
 
 .adminavHeading {
     color: white;
 }
 #navbar {
    display: flex;
    /* margin: auto; */
    width: 100%;
    justify-content: space-between;
    background: black;
} 
