body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#right {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    text-align: center;
    margin: auto;
}

#right > div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
}

#right > div > h4~h4{
        width: 220px;
        margin-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    
}

#right > div > img {
    width: 100%;
}

#right > div button{
    padding: 10px;
    margin-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}