body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
    border: 3px solid red;
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 80%;
    background: black;
}

.adminavHeading {
    color: white;
}

#full {
    width: 100%;
    display: flex;
    gap: 20px;
}

#left {
    width: 30%;
    height: 900px;
    background-color: rgb(230, 230, 230);
    margin-top: 40px;
    text-align: center;
    margin-top: 5px;
}

#right {

    width: 67%;
    height: 900px;
}

#right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    
}

#right img {
    display: block;
    width: 200px;
    margin: auto;
}

#product_data input,
h1 {
    width: 300px;
    margin: 10px;
    border: 0px 2px solid black;
    height: 30px;
    border-radius: 5px;
}

#category {
    width: 300px;
    margin: 10px;
    border: 0px 2px solid black;
    height: 30px;
    border-radius: 5px;
}

#product_data input:hover {

    border: 2px solid black;
}

#product_data #category:hover {

    border: 2px solid black;
}

.btn {

    border: none;
}

#right div {
    border: 1px solid black;
}

#right h4 {
    text-align: center;
}

#right button {
    width: 100px;

}

/* navbar */
body {
    margin: 0px;
    padding: 0px;
}

#navbar {
    width: 100%;
    border: 2px solid black;
    height: 70px;
    margin-bottom: 10px;
}